{% extends 'base.html.twig' %}

{% block title %}Modifier des Articles{% endblock %}

{% block body %}
    <h1>Sélectionnez un article à modifier</h1>
    
    {% if articles %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Nom</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>
                            <a href="{{ path('edit_article', {'id': article.id}) }}" class="btn btn-warning btn-sm">
                                Modifier
                            </a>
                        </td>
                        <td>{{ article.nom }}</td>
                        <td>{{ article.prix }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun article disponible.</p>
    {% endif %}
{% endblock %}